body {
	padding-top: 60px;
}

footer {
	background-color: #222;
	color: #777;
}

.communication-icon {
		list-style: none;
		padding-top: 1em;
}

.communication-icon li {
			display: inline-block;
}

.communication-icon li a {
				color: #777;
}

header span.fa {
	padding-right: 10px;
}

section span.fa {
	padding-top: 20px;
	padding-bottom: 10px;
}