body {
	padding-top: 60px;
    position: relative;
}

span.fa.fa-lg {
	padding-top: 0;
	padding-right: 10px;
}

section span.fa {
	padding-top: 30px;
	padding-bottom: 10px;
}

section .container-fluid {
	padding: 20px;
}

.communitiesNav {
    position: fixed;
    padding-left: 100px;
    padding-top: 20px;
}

.communitiesNav li.current {
    font-weight: bold;
}

.communitiesList {
    text-align: justify;
}

.communitiesList li {
    list-style: none;
}

.communitiesList img, h1 img {
    max-width: 100px;
    padding-right: 20px;
}

.socialLinks {
    padding: 10px;
}

.socialLinks li {
    list-style: none;
    display: inline;
    padding: 10px;
}

footer {
	background-color: #222;
	color: #777;
}

.communication-icon {
		list-style: none;
		padding-top: 1em;
}

.communication-icon li {
			display: inline-block;
}

.communication-icon li a {
				color: #777;
}