body {
  padding-top: 60px;
  position: relative;
}

span.fa.fa-lg {
  padding-top: 0;
  padding-right: 10px;
}

section {
  span.fa {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .container-fluid {
    padding: 20px;
  }
}

.communitiesNav {
  position: fixed;
  padding-left: 100px;
  padding-top: 20px;

  li.current {
    font-weight: bold;
  }
}

.communitiesList {
  text-align: justify;

  li {
    list-style: none;
  }

  img, h1 img {
    max-width: 100px;
    padding-right: 20px;
  }
}

.socialLinks {
  padding: 10px;

  li {
    list-style: none;
    display: inline;
    padding: 10px;
  }
}

footer {
  background-color: #222;
  color: #777;
}

.communication-icon {
  list-style: none;
  padding-top: 1em;

  li {
    display: inline-block;

    a {
      color: #777;
    }
  }
}