<div class="container-fluid text-justify">
    <div class="container">
        <h2>Qui sommes-nous ?</h2>

        <p>
            Lyon Tech Hub est un groupe informel constitué des membres des différentes communautés IT/tech lyonnaises.
            Le groupe est auto-géré par les membres les plus actifs.
        </p>

        <p>
            Les membres sont des passionnés, des experts, des curieux, des professionnels de tous horizons: 
            éditeurs, sociétés industrielles ou commerciales, startups, indépendants, sociétés de service...
            Ils sont réunis par la volonté d'apprendre et d'échanger.
        </p>
    </div>

    <div class="container">
        <h2>Des questions ?</h2>
        <p>
            <ul>
                <li>Sur <b>twitter <a title="@lyontechhub" href="https://twitter.com/LyonTechHub">@lyontechhub</a></b></li>
                <li>Par <b>mail : <a title="contact@lyontechhub.org" href="mailto:contact@lyontechhub.org">contact@lyontechhub.org</a></b></li>
            </ul>
        </p>
    </div>

    <div class="container">
        <h2>Vous représentez une communauté ou vous êtes aussi un passionné? <br /><a title="Inscription" href="https://groups.google.com/forum/?hl=fr#!forum/lyontechhub">Rejoignez-nous!</a></h2>

        <p>
            <b>Présenter-vous/présentez votre communauté</b> sur la liste de discussion, ou <b>mieux venez à des événements</b>, et
            <b><a href="https://groups.google.com/forum/#!forum/lyontechhub">inscrivez-vous sur la liste</a></b> si vous souhaitez suivre les discussions.
        </p>

        <p>
            Pour inscrire votre communauté, vous n'aurez qu'à faire une <b>pull request sur GitHub</b> pour mettre en ligne les
            informations concernant votre communauté. Si vous ne savez pas faire une pull request sur GitHub, regarder
            les
            informations à fournir ci-dessous (prendre exemple sur les fichiers existants) et envoyez-les par mail à la
            liste.
            Demandez aussi sur la liste de diffusion <b>l'accès au calendrier Google</b> pour un ou plusieurs comptes Google.
            <br />Voici comment faire la pull request:
            <ul>
                <li>Aller à <a href="https://github.com/lyontechhub/lyontechhub.github.io">https://github.com/lyontechhub/lyontechhub.github.io</a></li>
                <li>
                    Forker le repository pour préparer la pull request (cf.
                    <a href="https://help.github.com/articles/using-pull-requests">https://help.github.com/articles/using-pull-requests</a>)
                </li>
                <li>Ajouter ou modifier votte communauté dans le fichier <a href="https://github.com/lyontechhub/lyontechhub.github.io/blob/dev/data/communities.json">data/communities.json</a></li>
                <li>
                    Ajouter ou modifier les détails de votte communauté dans le fichier
                    <a href="https://github.com/lyontechhub/lyontechhub.github.io/blob/dev/data/">data/</a>[key].json, où key est la valeur
                    utilisée dans le fichier précédent
                </li>
                <li>
                    Ajouter ou modifier le logo de votre communauté au format PNG dans le répertoire imgs, nommé en
                    [key].png
                    (taille de 100px de haut au minimum, pas trop volumineuse)
                </li>
                <li>Soumettre la pull request, nous nous nous chargerons de mettre en ligne</li>
            </ul>
        </p>
    </div>
</div>