<div class="container-fluid">
    <div class="container">
        <h1>
            Le calendrier partagé par toutes les communautés lyonnaises<br />
            <small>Venez rencontrer toutes ces communautés et leurs participants !</small>
        </h1>
        <p><span class="fa fa-calendar fa-lg"></span>Ajouter ce calendrier à vos calendriers Google (icône en bas à droite du calendrier)</p>
        <p><span class="fa fa-flash fa-lg"></span>Ajouter une alerte Google Calendar pour ne plus en manquer un!</p>
        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=2&amp;hl=fr&amp;bgcolor=%23FFFFFF&amp;src=ck2ruq6cqfch3t4gshbd6vdnd4%40group.calendar.google.com&amp;color=%23875509&amp;ctz=Europe%2FParis" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
