<h1><img src="/imgs/{{ communityViewModel.community.key }}.png" onerror="this.onerror=null;this.src='/imgs/noLogo.png';"/>{{communityViewModel.community.name}}</h1>
<div class="container-fluid community">
    <div class="col-lg-4">
        <h2>En bref...</h2>
        <p>{{ communityViewModel.community.shortDescription }}</p>
        <ul class="socialLinks">
            <li ng-repeat="socialLink in communityViewModel.community.socialLinks">
                <a href="{{ socialLink.url }}" target="_blank" class="fa fa-2x fa-{{ socialLink.icon }}" title="{{ socialLink.tooltip }}"></a>
            </li>
        </ul>
    </div>
    <div class="col-lg-4">
        <h2>A venir !</h2>
        <ul class="events">
            <li ng-hide="communityViewModel.community.nextEvents.length">Pas d'événements dans les 4 prochains mois.</li>
            <li ng-repeat="event in communityViewModel.community.nextEvents | orderBy:'startDate'">
                <div>
                    <div>
                        <div>{{ event.startDate | date : 'dd' }}</div>
                        <div>{{ event.startDate | date : 'MMM' }}</div>
                    </div>
                    <div>
                        <div>{{ event.title }} <a href="{{ event.url }}" target="_blank" class="fa fa-external-link" title="Lien vers l'événement dans Google Calendar"/></div>
                        <div>De {{ event.startDate | date : "H'h'mm" }} à {{ event.endDate | date : "H'h'mm" }} {{ '- ' + event.location }}</div>
                    </div>
                </div>
                <div ng-bind-html="event.description | linky:_blank"></div>
            </li>
        </ul>
    </div>
    <div class="col-lg-4">
        <h2>Ce que vous avez manqué...</h2>
        <ul class="events">
            <li ng-hide="communityViewModel.community.pastEvents.length">Pas d'événements durant les 4 derniers mois.</li>
            <li ng-repeat="event in communityViewModel.community.pastEvents | orderBy:'-startDate'">
                <div>
                    <div>
                        <div>{{ event.startDate | date : 'dd' }}</div>
                        <div>{{ event.startDate | date : 'MMM' }}</div>
                    </div>
                    <div>
                        <div>{{ event.title }} <a href="{{ event.url }}" target="_blank" class="fa fa-external-link" title="Lien vers l'événement dans Google Calendar"/></div>
                        <div>De {{ event.startDate | date : "H'h'mm" }} à {{ event.endDate | date : "H'h'mm" }} {{ '- ' + event.location }}</div>
                    </div>
                </div>
                <div ng-bind-html="event.description | linky:_blank"></div>
            </li>
        </ul>
    </div>
</div>
