<h1><img src="/imgs/{{ communityViewModel.key }}.png" onerror="this.onerror=null;this.src='/imgs/noLogo.png';"/>{{communityViewModel.community.name}}</h1>
<div class="container-fluid text-justify">
    <div class="col-lg-8">
        <p>{{ communityViewModel.community.shortDescription }}</p>
        <ul class="socialLinks">
            <li ng-repeat="socialLink in communityViewModel.community.socialLinks">
                <a href="{{ socialLink.url }}" class="fa fa-2x fa-{{ socialLink.icon }}" title="{{ socialLink.tooltip }}"></a>
            </li>
        </ul>
    </div>
    <div class="col-lg-4">
    </div>
</div>