<div class="container-fluid">
    <div class="container">
        <h1>
            {{communitiesViewModel.communities.length}} communautés diverses et variées regroupées dans Lyon Tech Hub<br />
            <small><a href="#!/a-propos">Par ici pour référencer la votre !</a></small>
        </h1>
        Rechercher : <input type="text" ng-model="query">
        <div class="row communitiesList">
            <div class="col-sm-6 col-md-4" ng-repeat="community in communitiesViewModel.communities | filter: query | orderBy : 'name'">
                <div class="thumbnail">
                    <a href="#!/communaute/{{ community.key }}">
                        <img src="/imgs/communities/{{ community.image }}"
                                onerror="this.onerror=null;this.src='/imgs/noLogo.png';" />
                    </a>

                    <div class="caption">
                        <h3>{{ community.name }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
