<div class="container-fluid">
	<div class="container">
		<h1>Lyon Tech Hub<br/><small>Le hub des communautés IT/techniques lyonnaises</small></h1>
		<div class="col-lg-4">
			<a href="#!/communautes"><span class="fa fa-comments fa-5x"/></a>
			<h3>Des communautés diverses et variées</h3>
			<p>Des technos, des pratiques, des outils...à découvrir</p>
		</div>
		<div class="col-lg-4">
			<span class="fa fa-group fa-5x"></span>
			<h3>Des experts passionnés</h3>
			<p>Les participants et les organisateurs font de leur métier une passion</p>
		</div>
		<div class="col-lg-4">
			<a href="#!/calendrier"><span class="fa fa-calendar fa-5x"/></a>
			<h3>Un calendrier de tous les événements</h3>
			<p>Plus aucune raison de manquer un des événements !</p>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="container">
		<h2>Pour plus d'opportunités de...</h2>
		<div class="col-lg-3">
			<span class="fa fa-beer fa-3x"></span>
			<h3>Rencontrer</h3>
			<p>Les événements sont une très bonne occasion pour rencontrer des experts pour vous aider dans vos projets, de potentiels clients, de futurs ou anciens collègues, ou pour le plaisir !</p>
		</div>
		<div class="col-lg-3">
			<span class="fa fa-flask fa-3x"></span>
			<h3>Découvrir</h3>
			<p>Vous trouverez toujours un sujet à découvrir pour en faire une opportunité de faire mieux ou tout simplement autrement</p>
		</div>
		<div class="col-lg-3">
			<span class="fa fa-rocket fa-3x"></span>
			<h3>Apprendre</h3>
			<p>Vous apprendrez des expériences des autres, vous serez motivé pour aller plus loin suite à la découverte d'un sujet, vous rencontrerez des formateurs reconnus...</p>
		</div>
		<div class="col-lg-3">
			<span class="fa fa-gears fa-3x"></span>
			<h3>Echanger</h3>
			<p>La richesse et la diversité des échanges vous apporteront de nouvelles perspectives et des idées pour le futur</p>
		</div>
	</div>
</div>