---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
        <div className="container text-justify">
            <h2>Qui sommes-nous ?</h2>

            <p>
                Lyon Tech Hub est un groupe informel constitué des membres des différentes communautés IT/tech lyonnaises.
                Le groupe est auto-géré par les membres les plus actifs.
            </p>

            <p>
                Les membres sont des passionnés, des experts, des curieux, des professionnels de tous horizons:
                éditeurs, sociétés industrielles ou commerciales, startups, indépendants, sociétés de service...
                Ils sont réunis par la volonté d'apprendre et d'échanger.
            </p>

            <h2>Rejoignez nous !</h2>
            <h3>sur Slack</h3>
            <p>Pour discuter avec les membres de nos communautés sur Slack, <b><a
                        href="https://slack.lyontechhub.org/">inscrivez-vous</a></b> sur la page : <b><a
                        href="https://slack.lyontechhub.org/"
                        title="Inscription sur le Slack de Lyon Tech Hub">https://slack.lyontechhub.org</a></b>.</p>
            <h3>en vrai</h3>
            <p>
                N'hésitez pas à participer aux <b>évenements</b> organisés par les communautés de Lyon Tech Hub ! Rendez-vous
                sur la page <a href="/calendar">Calendrier</a>.
            </p>
            <h3>côtisez</h3>
            <p>
                Soutenez-nous en côtisant à partir de 1€: <a
                    href="https://lyontechhub.assoconnect.com/collect/description/415076-s-adhesion-annuelle">par
                    assoconnect</a>.
            </p>

            <h3>Référencer une communauté</h3>
            <p>
                Pour inscrire votre communauté, envoyez une <b>pull request sur GitHub</b> pour mettre en ligne les
                informations concernant votre communauté.
            <ul>
                <li>Forkez <a href="https://github.com/lyontechhub/lyontechhub.github.io">le repository du projet</a>. Pour plus
                    d'informations sur les pull requests, consultez <a
                        href="https://help.github.com/articles/using-pull-requests">l'aide de Github</a>.
                </li>
                <li>
                    Ajoutez les détails de votre communauté dans le fichier
                    <code><a
                            href="https://github.com/lyontechhub/lyontechhub.github.io/blob/dev/data/">data/</a>[key].json</code>
                    utilisée dans le fichier précédent
                </li>
                <li>
                    Ajoutez le logo de votre communauté au format PNG dans le répertoire <code><a
                            href="https://github.com/lyontechhub/lyontechhub.github.io/blob/dev/imgs/">imgs</a></code>, nommé
                    <code>[key].png</code>
                    (100px de haut au minimum, pas trop volumineuse)
                </li>
                <li>Proposez la pull request, elle sera déployée après validation.</li>
            </ul>
            </p>

            <h2>Des questions ?</h2>
            <p> Contactez nous
            <ul>
                <li>Sur <b>X (Twitter) <a title="@lyontechhub" href="https://x.com/LyonTechHub">@lyontechhub</a></b></li>
                <li>Par <b>mail : <a title="contact@lyontechhub.org"
                            href="mailto:contact@lyontechhub.org">contact@lyontechhub.org</a></b></li>
            </ul>
            </p>
        </div>
	</main>
</Layout>
