---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
        <div class="container-fluid">
            <div class="container">
                <h1>
                    Le calendrier partagé par toutes les communautés lyonnaises<br />
                    <small>Venez rencontrer toutes ces communautés et leurs participants !</small>
                </h1>
                <p><span class="fa fa-calendar fa-lg"></span>Ajouter le calendrier des nouveaux événements à vos calendriers (<a
                        href="https://www.lyontechhub.org/Lyon-Tech-Hub-Calendar/calendar.ics">au
                        format ical</a> ou sur Google via le bouton en bas à droite du calendrier)</p>
                <p><span class="fa fa-flash fa-lg"></span>Ajouter une alerte Google Calendar pour ne plus en manquer un!</p>
                <iframe
                    src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FParis&bgcolor=%23ffffff&showTitle=0&hl=fr&src=Y2sycnVxNmNxZmNoM3Q0Z3NoYmQ2dmRuZDRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=N2EyNW9yNW8yMHA1aGJmMWZ0OHQ4ZGVwb2RwY2pqbHBAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23AD1457&color=%23E67C73"
                    style="border: solid 1px #777;" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
	</main>
</Layout>
