---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
        <div class="container-fluid">
            <div class="container">
                <h1>Lyon Tech Hub<br/><small>Le hub des communautés IT/techniques lyonnaises</small></h1>
                <div class="col-lg-4">
                    <a href="/communities"><span class="fa fa-comments fa-5x"/></a>
                    <h3>Des communautés diverses et variées</h3>
                    <p>Des technos, des pratiques, des outils...à découvrir</p>
                </div>
                <div class="col-lg-4">
                    <span class="fa fa-group fa-5x"></span>
                    <h3>Des experts passionnés</h3>
                    <p>Les participants et les organisateurs font de leur métier une passion</p>
                </div>
                <div class="col-lg-4">
                    <a href="/calendar"><span class="fa fa-calendar fa-5x"/></a>
                    <h3>Un calendrier de tous les événements</h3>
                    <p>Plus aucune raison de manquer un des événements !</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <h2>Bien plus qu'un simple calendrier partagé...</h2>
                <div class="col-lg-3">
                    <span class="fa fa-slack fa-3x"></span>
                    <h3>Slack</h3>
                    <p>Rejoignez le slack pour continuer à échanger entre les évènements de vos communautés, et mettre en avant
                        vos prochains événements. Inscrivez vous : <b><a href="https://slack.lyontechhub.org/"
                                title="Inscription sur le Slack de Lyon Tech Hub">https://slack.lyontechhub.org/</a></b></p>
                </div>
                <div class="col-lg-3">
                    <span class="fa fa-shield fa-3x"></span>
                    <h3>Assurance Événementielle</h3>
                    <p>Organisez vos événements en toute tranquillité grâce à notre assurance couvrant une gamme de risques.
                        Sont notamment couverts : responsabilité civile de l'occupant, reponsabilité civile "produits" (y
                        compris risque d'intoxication alimentaire), dommage aux biens, etc.</p>
                    <p>Comment en bénéficier ? il suffit qu’un participant à votre évènement ait payé la cotisation de 1€ à Lyon Tech Hub <a
                            href="https://lyontechhub.assoconnect.com/collect/description/415076-s-adhesion-annuelle">par
                            assoconnect</a>.</p>
                </div>
                <div class="col-lg-3">
                    <span class="fa fa-hdd-o fa-3x"></span>
                    <h3>Espace de Stockage Nextcloud</h3>
                    <p>Simplifiez le partage de fichiers et la collaboration dans votre communauté grâce à un espace de stockage
                        Nextcloud dédié à votre communauté. Contactez-nous pour en bénéficier via
                        &nbsp;<b><a title="@lyontechhub" href="https://x.com/LyonTechHub">X (Twitter)</a></b> ou
                        &nbsp;<b><a title="contact@lyontechhub.org" href="mailto:contact@lyontechhub.org">contact@lyontechhub.org</a></b>
                    </p>
                </div>
                <div class="col-lg-3">
                    <span class="fa fa-handshake-o fa-3x"></span>
                    <h3>Soirée des Communautés</h3>
                    <p>Ne manquez pas notre événement annuel en juin, la Soirée des Communautés, où vous pourrez rencontrer
                        d'autres
                        organisateurs, échanger des conseils et résoudre des problèmes ensemble. C'est l'occasion idéale pour
                        découvrir de
                        nouvelles astuces et partager vos expériences.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <h2>Pour plus d'opportunités de...</h2>
                <div class="col-lg-3">
                    <span class="fa fa-beer fa-3x"></span>
                    <h3>Rencontrer</h3>
                    <p>Les événements sont une très bonne occasion pour rencontrer des experts pour vous aider dans vos projets, de potentiels clients, de futurs ou anciens collègues, ou pour le plaisir !</p>
                </div>
                <div class="col-lg-3">
                    <span class="fa fa-flask fa-3x"></span>
                    <h3>Découvrir</h3>
                    <p>Vous trouverez toujours un sujet à découvrir pour en faire une opportunité de faire mieux ou tout simplement autrement</p>
                </div>
                <div class="col-lg-3">
                    <span class="fa fa-rocket fa-3x"></span>
                    <h3>Apprendre</h3>
                    <p>Vous apprendrez des expériences des autres, vous serez motivé pour aller plus loin suite à la découverte d'un sujet, vous rencontrerez des formateurs reconnus...</p>
                </div>
                <div class="col-lg-3">
                    <span class="fa fa-gears fa-3x"></span>
                    <h3>Echanger</h3>
                    <p>La richesse et la diversité des échanges vous apporteront de nouvelles perspectives et des idées pour le futur</p>
                </div>
            </div>
        </div>
	</main>
</Layout>
