<div class="container-fluid">
    <div class="container">
        <h1>
            {{communities.length}} communautés diverses et variées regroupées dans Lyon Tech Hub<br />
            <small><a href="/about">Par ici pour référencer la votre !</a></small>
        </h1>
        Rechercher : <input type="text" id="filterCommunities" onkeyup="dynamicFilter('filterCommunities')">
        <div class="row communitiesList">
            {{#each communities}}
            <div class="col-sm-6 col-md-4 filterable" data-filter-value="{{ name }}">
                <div class="thumbnail">
                    <a href="/community/{{ detailKey }}">
                        <img src="/imgs/communities/{{ image }}"
                                onerror="this.onerror=null;this.src='/imgs/noLogo.png';" />
                    </a>

                    <div class="caption">
                        <h3>{{ name }}</h3>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
