<div class="container-fluid">
    <div class="container">
        <h1>
            {{ conferences.length }} conférences organisées par les communautés du LyonTechHub<br />
            <small><a href="/about">Par ici pour référencer la votre !</a></small>
        </h1>
        Rechercher : <input type="text" id="filterConferences" onkeyup="dynamicFilter('filterConferences')">
        <div class="row communitiesList">
            {{#each conferences}}
            <div class="col-sm-12 col-md-12 filterable" data-filter-value="{{ name }}">
                <div class="thumbnail">
                      <a href="{{ url }}" target="_blank">
                        <img src="/imgs/conferences/{{ image }}" onerror="this.onerror=null;this.src='/imgs/noLogo.png';" />
                      </a>
                    <div class="caption">
                        <h3>{{ name }}</h3>
                        <p>{{ shortDescription }}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
